.title {
  color: #0f9949;
  font-family:
    Avenir Next-Bold,
    Avenir Next;
  font-size: 40px;
  font-weight: 700;
  line-height: 50px;
  text-align: center;
}

.containerTitle {
  background: #f5f5f5;
  border-radius: 20px 20px 0 0;
  color: #000;
  font-family:
    Avenir Next-Bold,
    Avenir Next;
  font-size: 30px;
  font-weight: 700;
  line-height: 50px;
  opacity: 1;
  text-align: center;
  width: 100%;
}

.containerhighlightedText {
  color: #0f9949;
  font-family:
    Avenir Next-Bold,
    Avenir Next;
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  padding: 0 38px;
}

.containerParagraph {
  color: #7c7c7c;
  font-family:
    Avenir Next-Medium,
    Avenir Next;
  font-size: 20px;
  font-weight: 500;
  line-height: 26px;
  padding: 0 38px;
}

.container {
  background: #fbfcff;
  border: 1px solid #c6c6c6;
  border-radius: 20px 20px 20px 20px;
  display: flex;
  flex-direction: column;
  gap: 7px;
  opacity: 1;
  padding-bottom: 38px;
  width: 85%;
}
